<a href="https://colab.research.google.com/github/RachWalm/dyslexia/blob/main/module3sess1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
x=10
if x%2 == 0:
  print("This is an even number")

This is an even number

In [ ]:
x=11
if x%2 == 0:
  print("This is an even number")

In [ ]:
x=7
if x%2 == 0:
  print("This is an even number")
else:
  print ("odd")

odd

In [ ]:
a=15
b=12
if a==b:
  print("equal")
elif a>b:
  print("first greater")
else:
  print("second greater")

first greater

In [ ]:
a=15
b=-2
if a==b:
  print("equal")
elif a>b:
  print("first greater")
elif a<b:
  print("second greater")
else:
  print("Not sound input")

first greater

In [ ]:
c=-15
if c == 0:
  print("Zero")
elif c > 0:
  print("positive")
elif c < 0:
  print("negative")
else:
  print ("invalid input")

negative

In [ ]:
for item in [1,2,3,4,5,6,7,5]:
  print("The iteration number is {}". format(item))

The iteration number is 1
The iteration number is 2
The iteration number is 3
The iteration number is 4
The iteration number is 5
The iteration number is 6
The iteration number is 7
The iteration number is 5

In [ ]:
for item in range (0,6):
  print("The iteration number is {}". format(item))

The iteration number is 0
The iteration number is 1
The iteration number is 2
The iteration number is 3
The iteration number is 4
The iteration number is 5

In [ ]:
for item in [1,2,3,4,5,6,7,5]:
  print(item)

1
2
3
4
5
6
7
5

In [ ]:
for item in [1,2,3,4,5,6,7,8,9,10,11,12]:
  print("12 x {} = ".format (item))

12 x 1 =
12 x 2 =
12 x 3 =
12 x 4 =
12 x 5 =
12 x 6 =
12 x 7 =
12 x 8 =
12 x 9 =
12 x 10 =
12 x 11 =
12 x 12 =

In [ ]:
for item in [1,2,3,4,5,6,7,8,9,10,11,12]:
  print("12 x {} = ".format (item), item*12)

12 x 1 =  12
12 x 2 =  24
12 x 3 =  36
12 x 4 =  48
12 x 5 =  60
12 x 6 =  72
12 x 7 =  84
12 x 8 =  96
12 x 9 =  108
12 x 10 =  120
12 x 11 =  132
12 x 12 =  144

In [ ]:
target_val = 5
inter_var = 0
while inter_var < target_val:
  print ("Interation number is {} which is less than tareget value {}".format (inter_var, target_val))
  inter_var = inter_var+1

Interation number is 0 which is less than tareget value 5
Interation number is 1 which is less than tareget value 5
Interation number is 2 which is less than tareget value 5
Interation number is 3 which is less than tareget value 5
Interation number is 4 which is less than tareget value 5

In [ ]:
target_val = 5
inter_var = 0
while inter_var < target_val:
  print ("Interation number is {} which is less than tareget value {}".format (inter_var, target_val))
  inter_var = inter_var+1
print("finish")

Interation number is 0 which is less than tareget value 5
Interation number is 1 which is less than tareget value 5
Interation number is 2 which is less than tareget value 5
Interation number is 3 which is less than tareget value 5
Interation number is 4 which is less than tareget value 5
finish

In [ ]:
target_val = 5
inter_var = 0
while inter_var < target_val:
  print ("Interation number is {} which is less than tareget value {}".format (inter_var, target_val))
  inter_var = inter_var+1
  print("finish")

Interation number is 0 which is less than tareget value 5
finish
Interation number is 1 which is less than tareget value 5
finish
Interation number is 2 which is less than tareget value 5
finish
Interation number is 3 which is less than tareget value 5
finish
Interation number is 4 which is less than tareget value 5
finish

In [ ]:
for i in range(1,5):
  for j in range (1, 11):
    print (i*j, end = " ")
  print ("between outer loop")
print ("after both loops")

1 2 3 4 5 6 7 8 9 10 between outer loop
2 4 6 8 10 12 14 16 18 20 between outer loop
3 6 9 12 15 18 21 24 27 30 between outer loop
4 8 12 16 20 24 28 32 36 40 between outer loop
after both loops

In [ ]:
for i in range(1,5):
  for j in range (1, 11):
    print (i*j, end = "_")
  print ("between outer loop")
print ("after both loops")

1_2_3_4_5_6_7_8_9_10_between outer loop
2_4_6_8_10_12_14_16_18_20_between outer loop
3_6_9_12_15_18_21_24_27_30_between outer loop
4_8_12_16_20_24_28_32_36_40_between outer loop
after both loops

In [ ]:
target_val = 5
inter_var = 0
while inter_var < target_val:
  print ("Interation number is {} which is less than tareget value {}".format (inter_var, target_val))
  inter_var = inter_var+1
  if inter_var ==2:
    print ("break condition met")
    break;
  print("finish")

Interation number is 0 which is less than tareget value 5
finish
Interation number is 1 which is less than tareget value 5
break condition met

In [ ]:
target_val = 5
inter_var = 0
while inter_var < target_val:
  inter_var = inter_var+1
  if inter_var ==2:
    continue
  print ("Interation number is {} which is less than tareget value {}".format (inter_var, target_val))
  print("finish")

Interation number is 1 which is less than tareget value 5
finish
Interation number is 3 which is less than tareget value 5
finish
Interation number is 4 which is less than tareget value 5
finish
Interation number is 5 which is less than tareget value 5
finish

lists are done in the slides quite well

In [ ]:
mylist =["mike", "sean"]
if "Zubair" in mylist:
  print ("name in list")
else:
  print("name not list")

name not list

In [ ]:
mylist =["mike", "sean"]
if "Zubair" not in mylist:
  print ("name not list")
else:
  print("name in list")

name not list

In [ ]:
rachlist = ["red", "blue", "green", "purple"]
new = "orange"
if new in rachlist:
  print("color in list")
else: rachlist.append (new)
print(rachlist)

['red', 'blue', 'green', 'purple', 'orange']

In [ ]:
word = "bristol"

mystring = [letter.upper() for letter in word]
print(mystring)

['B', 'R', 'I', 'S', 'T', 'O', 'L']

In [ ]:
list(word.upper())

['B', 'R', 'I', 'S', 'T', 'O', 'L']

In [ ]:
nest = [[1,2,3,4],[5,6,7],['a','b','c'],['d','e']]

In [ ]:
newlist = []
for x in range(len(nest)):
  for y in range (len(nest[x])):
    newlist.append(nest [x][y])
print (newlist)

[1, 2, 3, 4, 5, 6, 7, 'a', 'b', 'c', 'd', 'e']

In [ ]:
mydict = {
    "employee" : "Zara",
    "department" : "Operations",
    "last salary" : 50000,
    "status" : "permanent",
    "level" : 3
}

In [ ]:
mydict.update ({"last salary" : 20000})
for keys, values in mydict.items():
  print(keys,values)

employee Zara
department Operations
last salary 20000
status permanent
level 3

In [ ]:
for keys, values in mydict.items():
  print(keys,values)

employee Zara
department Operations
last salary 50000
status permanent
level 3

In [ ]:
remove ="employee"
mydict.pop(remove)
for keys, values in mydict.items():
  print(keys,values)

department Operations
last salary 50000
status permanent
level 3